'scopeName': 'source.minmax'
'name': 'minMAX'
'fileTypes': [
  'mm'
]
'patterns': [
    {
    'match': '[\\+-]?\\d+[_0-9]*(\\.\\d+)?'
    'name': 'constant.numeric.minmax'
    }
    {
    'match': '([\\[\\]])(\\d*).*\\s*(\\.\\.)\\s*(\\d*).*([\\[\\]])'
    'captures':
        '1': 'name': 'support.range.minmax'
        '3': 'name': 'support.range.minmax'
        '5': 'name': 'support.range.minmax'
        '2': 'name': 'constant.numeric.minmax'
        '4': 'name': 'constant.numeric.minmax'
    }
    {
    'match': '([\\+-]=?|=)'
    'name': 'keyword.operator.arithmetic.minmax'
    }
    {
    'match': '\\w\\s*([\\|&]|==|[<>])\\s*\\w'
    'captures':
        '1': 'name': 'keyword.operator.logical.minmax'
    }
    {
    'match': '^\\s*(<|>)'
    'captures':
        '1': 'name': 'entity.name.function.io.minmax'
    }
    {
    'match': '#.*'
    'name': 'comment.minmax'
    }
    {
    'begin': '"'
    'beginCaptures':
        '0': 'name': 'punctuation.definition.string.begin.c'
    'end': '"'
    'endCaptures':
        '0': 'name': 'punctuation.definition.string.end.c'
    'name': 'string.quoted.double.c'
    }
]
